*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input, button {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

html, body {
  height: 100%;
}

.fl-center {
  display: flex;
  justify-content: center;
}

header > h1 {
  text-align: center;
  padding: 20px 0 60px;
}

.flash-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flash-card__answer {
  --font-size: 1.5rem;
  height: calc(var(--font-size) + 15px);
  font-size: var(--font-size);
  padding-bottom: 25px;
}

.image-wrapper > img {
  width: 150px;
  height: auto;
}

.user-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.user-input-wrapper input {
  width: 30ch;
  font-size: 1.125rem;
  padding: 4px 8px;
}

.user-input-wrapper span {
  --gap: 5px;
  --size: 32px;
  position: absolute;
  left: calc(100% + var(--gap));
  font-size: var(--size);
  line-height: var(--size);
}

.controls {
  padding: 25px 0;
}

.controls > button {
  --border-radius: 8px;
  background-color: rgb(180, 40, 40);
  appearance: none;
  border: none;
  border-radius: var(--border-radius);
}

.button-content {
  display: block;
  font-size: 1.5rem;
  color: white;
  padding: 0.35em 1.5em;
  background-color: rgb(223, 63, 63);
  border-radius: var(--border-radius);
  transform: translateY(-4px);
  transition: transform 500ms ease-out;
}

.button-content:hover {
  transform: translateY(-6px);
  transition: transform 150ms ease-out;
}

.button-content:active {
  transform: translateY(-2px);
  transition: transform 50ms ease-in;
}